.item {
    background: rgba(var(--rnd-bg-color-rgb), var(--bg-alpha, 0.5));
    color: var(--rnd-color-item);
    padding: var(--p-l);
    border-radius: var(--br-m);
    font-size: var(--fs-m);
}
.catLabel {
    background: var(--bg-cat-label);
    border-radius: var(--br-s);
    padding: var(--p-s) var(--p-m);
    font-size: var(--fs-l);
}
.catLabelWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-col-s);
}
.tagLabel {
    background: var(--bg-cat-label);
    border-radius: var(--br-s);
    padding: var(--p-s) var(--p-s);
    backdrop-filter: hue-rotate(45deg);
    font-size: var(--fs-xs);
}
