.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-row-xl);

  height: var(--header-height);
}
.menu {
  display: flex;
  flex-direction: row;
  gap: var(--gap-row-l);
}
