:root {
  font-family: monospace, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 80px;

  /* sizes: s, m, l, xl */

  --p-s: 4px;
  --p-m: 8px;
  --p-l: 16px;
  --p-xl: 32px;

  --m-s: 4px;
  --m-m: 8px;
  --m-l: 16px;
  --m-xl: 32px;

  --br-s: 4px;
  --br-m: 8px;
  --br-l: 16px;
  --br-xl: 32px;

  --skill-gradient-bad: #ff0000;
  --skill-gradient-normal: #dca519;
  --skill-gradient-good: #00ff0a;
  --skill-gradient-bad-rgba: rgba(255, 0, 0, 1);
  --skill-gradient-good-rgba: rgba(0, 255, 10, 1);
  --skill-gradient-good-deg: 103deg;
  --skill-gradient-bg: linear-gradient(
    var(--skill-gradient-good-deg),
    var(--skill-gradient-bad-rgba) 0%,
    var(--skill-gradient-good-rgba) 100%
  );

  --gap-row-s: 8px;
  --gap-col-s: 8px;

  --gap-row-l: 16px;
  --gap-col-l: 16px;

  --gap-row-xl: 32px;
  --gap-col-xl: 32px;

  --gap-row-xxl: 64px;
  --gap-col-xxl: 64px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ava-border: #fa8072;
    --bg-color-card: rgba(255, 255, 255, 0.5);
    --font-color-card: #000;

    --bg-cat-label: rgba(0, 0, 0, 0.5);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --ava-border: #662c25;
    --bg-color-card: rgba(0, 0, 0, 0.5);
    --font-color-card: #fff;

    --bg-cat-label: rgba(255, 255, 255, 0.5);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  line-height: 1.5;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
